#about {
    background-color: ivory;
    padding: 80px 20px;
    text-align: center;
}

.aboutme {
    background-color: cadetblue;
    color: navy;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    transition: 0.3s;
}

.aboutme:hover {
    background-color: ivory;
    border: 3px solid cadetblue;
}

@media (max-width: 768px) {
    .aboutme{
        width: 90%;
    }
}