#home {
    text-align: center;
    padding: 100px 20px;
    background-color: honeydew;
    color: rgb(77, 151, 225);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home img {
    max-width: 60%;
    height: auto;
    margin-top: 20px;
}

span {
    color: cadetblue;
}