* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar {
    background-color: #008080; 
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    position: fixed;
    width: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.top {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    transition: background 0.3s, transform 0.3s;
}

.top:hover {
    background-color: #006666;
    border-radius: 5px;
    transform: scale(1.05);
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }
}
