#skills {
    background-color: honeydew;
    padding: 80px 20px;
    text-align: center;
    color: #4e5b6e;
}
.tech img{
    width:80px;
    height: 80px;
    animation: float 4s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #2a4d6d;
}

.skills-category {
    margin-bottom: 40px;
}

.skills-category h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #3b5998;
    text-transform: uppercase;
}

.skills-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.tech {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid cadetblue;
    width: 280px;
    transition: transform 0.3s, background-color 0.3s;
}

.tech:hover {
    transform: scale(1.05);
    background-color: cadetblue;
    color: white;
}

.tech h3 {
    color: #2a4d6d;
    margin-bottom: 10px;
}

.tech ul {
    list-style-type: none;
    padding: 0;
}

.tech ul li {
    font-size: 1rem;
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    .skills-group {
        flex-direction: column;
        align-items: center;
    }

    .tech {
        width: 90%;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
