#contact {
    background-color: honeydew;
    padding: 80px 20px;
    text-align: center;
}

.contact-form {
    background-color: rgb(142, 178, 245);
    padding: 40px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
}

.butto {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: coral;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.butto:hover {
    background-color: darkorange;
}
@media (max-width: 768px) {
    .contact-form {
        width: 90%;
    }
}